//Colors
$black-high: #131313;
$black-medium: #1E1E1E;
$white: #ffffff;
$orange-high: #EF821F ;
$orange-medium: #CA680F;

//Programming Colors
$cl-prog-grey: #808080;
$cl-prog-white: #D4D4D4;
$cl-prog-yellow: #DCDCAA;
$cl-prog-blue: #2b95b8;
$cl-prog-pink: #C584C0;
$cl-prog-green: #4EC9B0;
$cl-prog-brown: #CE9178;

//Variables
$cl-html: $black-high;
$cl-main-wrapper: $black-medium;
$cl-main-text: $white;
$cl-primary: $orange-high;
$cl-secundary: $orange-medium;