//Colors
$black-high: #131313;
$black-medium: #1E1E1E;
$white: #ffffff;
$orange-high: #EF821F ;
$orange-medium: #CA680F;

//Variables
$cl-html: $black-high;
$cl-main-wrapper: $black-medium;
$cl-main-text: $white;
$cl-primary: $orange-high;
$cl-secundary: $orange-medium;