@import "structure";
@import "colors";

$breakpoint-desktop: 1023px;
$breakpoint-tablet: 767px;
$breakpoint-mobile: 449px;

html, body{
  height: 100%;
  font-size: 14px;
  margin: 0;
  background-color: $cl-html!important;
}

.app-wrapper{
  display: flex;
  justify-content: center;    
  align-items: center;    
  color: $cl-main-text;
}

.main-wrapper {
  display: flex;
  height: 100%;
  width: 70rem;
  background-color: $cl-main-wrapper;
  flex-direction: column;
  margin: 2rem;
  padding: 2rem;
  border-radius: 2rem;
}

.nav{
  height: 3rem;
  text-align: end;
  align-items: center; 
  
  .nav-item{
    color: $cl-main-text;;
    font-weight: bold;
    transition: 0.3s;
  
    &:hover{
      color: $cl-primary;
      cursor: pointer;
      transform: scale(1.5);
    }
  }
}

.profile{
  border-radius: 2rem;
  
  .profile-picture{
    align-self: center;
    
    img{
      border-radius: 2rem;
      width: 150px;
      height: 0px;
    }
  }
}

.technologies{
  border-radius: 2rem;
  
  button{
    margin: 1rem;
    transition: 0.3s ease-out;

    &:hover{
      transform: translate(0,-5px);
    }
  }
}

.projects{
  border-radius: 2rem;
  
 .project-wrapper{
    background-color: grey;
    padding: 1rem;
    transition: 0.5s ease-out;
    border-radius: 2rem;

    &:hover{
      background-color: $cl-primary;
      cursor: pointer;
      color: white;
    }
  }
}

.isPressable{
  cursor: pointer;

  &:hover{
    .txt-cl-prog-green{
      transition: 0.5s ease-in-out;
      border-bottom: 1px solid $cl-prog-green;
    }
  }

}

.transition{
  transition: 0.5s ease-in-out;
}

.text-sz-xs{
  font-size: 12px;
}

.text-sz-sm{
  font-size: 14px;
}

.text-sz-md{
  font-size: 16px;
}

.text-sz-lg{
  font-size: 18px;
}

.text-sz-xl{
  font-size: 20px;
}

.txt-cl-orange{
  color: $orange-high
}

.txt-cl-prog-grey{
  color: $cl-prog-grey;
}

.txt-cl-prog-green{
  color: $cl-prog-green;
}

.txt-cl-prog-white{
  color: $cl-prog-white;
}

.txt-cl-prog-blue{
  color: $cl-prog-blue;
}

.txt-cl-prog-brown{
  color: $cl-prog-brown;
}
