@import "structure";

$breakpoint-desktop: 1023px;
$breakpoint-tablet: 767px;
$breakpoint-mobile: 449px;

html, body{
  height: 100%;
  font-size: 14px;
  margin: 0;
  background-color: #fff;
}

.app-wrapper{
  display: flex;
  justify-content: center;    
}

.main-wrapper {
  display: flex;
  height: 100%;
  width: 100rem;
  background-color: #91a1b1;
  min-height: 50rem;
  flex-direction: column;
  margin: 2rem;
  border-radius: 2rem;
}

.nav{
  height: 3rem;
  text-align: end;
  align-items: center; 
  background-color: sandybrown;
  
  .nav-item{
    color: white;
    font-weight: bold;
    transition: 0.3s;
  
    &:hover{
      color: white;
      cursor: pointer;
      transform: scale(1.5);
    }
  }
}

.profile{
  background-color: salmon;

  .profile-picture{
    padding: 2rem;
    align-self: center;
    
    img{
      border-radius: 2rem;
      width: 200px;
      height: 200px;
    }
  }

  .profile-description{
    padding: 2rem;
  } 
}

.technologies{
  background-color: springgreen;

  .technologies-list{
    padding: 2rem;
  }

  button{
    margin: 1rem;
    transition: 0.3s ease-out;

    &:hover{
      transform: translate(0,-5px);
    }
  }
}

.projects{
  background-color: skyblue;

  .projects-title{
    padding: 2rem;
  }

  .projects-list {
    padding: 0rem 2rem 2rem 2rem;
    
  }

  .project-outside-wrapper{
    // background-color: teal;
    

  }

  .project-wrapper{
    background-color: grey;
    padding: 1rem;
    // width: 80%;
    transition: 0.5s ease-out;

    &:hover{
      background-color: orange;
      cursor: pointer;
      color: white;
    }
  }
}
