@import "structure";
@import "colors";

$breakpoint-desktop: 1023px;
$breakpoint-tablet: 767px;
$breakpoint-mobile: 449px;

html, body{
  height: 100%;
  font-size: 14px;
  margin: 0;
  background-color: $cl-html!important;
}

.app-wrapper{
  justify-content: center;    
  align-items: center;    
  color: $cl-main-text;
  height: 100vh;
}

.section-welcome {
  position: relative;
  display: flex;
  height: 100vh;
  width: 100vw;

  .bg-video{
    position:relative;
    z-index:0;
    width: 100%;
    object-fit: fill;
    opacity: .4;
  }

  .bg-video-container{
    display: table;
    width: 100%;
    height: 100%;
    text-align: center;
    position:absolute;
    z-index:1;
  }

  .bg-video-text-container{
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: middle;
  }
}

.section-a {
  display: flex;
  background-color: red;
  justify-content: center;    
  align-items: center;  
  height: 100vh;
  width: 100vw;
}

.section-b {
  display: flex;
  background-color: purple;
  justify-content: center;    
  align-items: center;  
  height: 100vh;
  width: 100vw;
}


.main-title{
  color: $cl-main-text;
}

.transition{
  transition: 0.5s ease-in-out;
}

.text-sz-xs{
  font-size: 12px;
}

.text-sz-sm{
  font-size: 14px;
}

.text-sz-md{
  font-size: 16px;
}

.text-sz-lg{
  font-size: 18px;
}

.text-sz-xl{
  font-size: 24px;
}

.text-sz-xxl{
  font-size: 48px;
}

.txt-cl-orange{
  color: $orange-high
}

.txt-cl-prog-grey{
  color: $cl-prog-grey;
}

.txt-cl-prog-green{
  color: $cl-prog-green;
}

.txt-cl-prog-white{
  color: $cl-prog-white;
}

.txt-cl-prog-blue{
  color: $cl-prog-blue;
}

.txt-cl-prog-brown{
  color: $cl-prog-brown;
}
