.social-wrapper{
    display: inline-block;
    margin: 15px;

    :hover{
        cursor: pointer;
        color: rgb(179, 15, 179);
        transform: scale(2);
    }
}

.social-icon{
    font-size: 48px;
    transition: all .6s ease;
}