.margin-bottom-sm{
  margin-bottom: 1rem;
}

.margin-bottom-md{
  margin-bottom: 2rem;
}

.margin-bottom-lg{
  margin-bottom: 3rem;
}

.margin-x-sm{
  margin: 0 1rem;
}


.text-center{
  text-align: center;
}

// .fixed-menu {
//   width: 30px;
//   height: 30px;
//   background-color: orange;
//   position: sticky;
//   top: 50%;
//   left: 75%;
//   transform: translate(-50%, -50%);
// }