@import "colors";

//Margins and Paddings
.margin-bottom-sm{
  margin-bottom: 1rem;
}

.margin-bottom-md{
  margin-bottom: 2rem;
}

.margin-bottom-lg{
  margin-bottom: 3rem;
}

.margin-x-sm{
  margin: 0 1rem;
}


//Text
.text-center{
  text-align: center;
}

.text-sz-xs{
  font-size: 12px;
}

.text-sz-sm{
  font-size: 14px;
}

.text-sz-md{
  font-size: 16px;
}

.text-sz-lg{
  font-size: 18px;
}

.text-sz-xl{
  font-size: 24px;
}

.text-sz-xxl{
  font-size: 34px;

  @media screen and (max-width: 720px){
    font-size: 20px;
  }
}

.txt-cl-primary{
  color: $purple-high
}

.txt-cl-prog-grey{
  color: $cl-prog-grey;
}

.txt-cl-prog-green{
  color: $cl-prog-green;
}

.txt-cl-prog-white{
  color: $cl-prog-white;
}

.txt-cl-prog-blue{
  color: $cl-prog-blue;
}

.txt-cl-prog-brown{
  color: $cl-prog-brown;
}
