@import "colors";

.tech-wrapper{
	display: inline-block;
	margin: 15px;
	transition: all .3s ease-in-out;

}

.tech-wrapper:hover{
	cursor: pointer;
	transform: translateY(-6px);
}

.tech-icon{
	font-size: 48px;
	transition: all .6s ease;
}

.tech-wrapper-sm{
	display: inline-block;
	margin: 0 10px 0 0;
}

.tech-icon-sm{
	font-size: 24px;
	transition: all .6s ease;
}

.project-wrapper{
	display: flex;
	align-items: end;
	width: 100%;
	height: 15rem;
	border: 2px solid $cl-primary;
	// rebeccapurple;
	border-radius: 1rem;
	background-color: $black-high;
	transition: all .6s ease;

	
}

.project-wrapper:hover{
	cursor: pointer;
	transform: scale(1.05);
}

.project-info{
	padding: 1rem;
	width: 100%;
	border-top: 2px solid $cl-primary;
}

.project-selected{
	color: $cl-primary;
}